html 
{
  box-sizing: border-box;
  margin: 0 auto;

  height: 100%;

  scroll-behavior: smooth;
}

body 
{
  margin: 0 auto;
}

*,
*::before,
*::after 
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a 
{
  text-decoration: none;
  list-style: none;
}
