html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--white);
    background-color: var(--grey-darkest);
}
