:root {
  --text-shadow-light: -1px -1px 3px var(--grey-dark),
  2px 2px 4px var(--grey);

  --text-shadow: -1px -1px 3px var(--grey-darker),
  2px 2px 4px var(--grey-dark);

  --text-shadow-dark: -1px -1px 3px var(--grey-darkest),
  2px 2px 4px var(--grey-dark);
}