// Media Queries
$breakpoint-mobileSm: 0px;
$breakpoint-mobileMd: 368px;
$breakpoint-mobileLg: 500px;
$breakpoint-tabletSm: 760px;
$breakpoint-tabletMd: 900px;
$breakpoint-tabletLg: 1020px;
$breakpoint-desktopSm: 1200px;
$breakpoint-desktopMd: 1536px;
$breakpoint-desktopLg: 2160px;

:export {
  breakpointMobileSm: $breakpoint-mobileSm;
  breakpointMobileMd: $breakpoint-mobileMd;
  breakpointMobileLg: $breakpoint-mobileLg;
  breakpointTabletSm: $breakpoint-tabletSm;
  breakpointTabletMd: $breakpoint-tabletMd;
  breakpointTabletLg: $breakpoint-tabletLg;
  breakpointDesktopSm: $breakpoint-desktopSm;
  breakpointDesktopMd: $breakpoint-desktopMd;
  breakpointDesktopLg: $breakpoint-desktopLg;
}