
.wrapper {
  height: 90px;
  width: 100%;
  max-width: 216rem;

  display: none;
  position: absolute;
  z-index: 200;

  color: var(--white);
  background-color: transparent;

  &:hover {
    background-image: linear-gradient(
      to bottom,
      rgba(#000000, 0.075),
      rgba(#000000, 0)
    );
  }
}

.mainContainer {
  height: 90%;
  width: 98.5%;
}

.grid {
  height: 100%;
  width: 100%;
}

.contentBox {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  &Box {
    margin-left: 2rem;
  }
}

.container {
  height: 100%;
  width: 100%;

  margin: 0 auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > * {
    margin: 0 1.5rem;
  }
}

.namedLink {
  padding: 1rem 1.075rem;
  
  font-size: 1.85rem;
  color: var(--black);

  &:hover {
    border-bottom: 1.75px solid var(--black);
  }
}


@media only screen and (min-width: 64em) { // 1024px
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 72em) { // 1152px
  .namedLink {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 96em) { // 1536px
  .namedLink {
    font-size: 2.25rem;
  }
}