
.wrapper {
  height: 850px;
  width: 90%;

  margin: auto;
  margin-top: 5rem;
  margin-bottom: 0rem;
}

.contentGrid {
  height: 52%;
  width: 100%;
  max-width: 150rem;

  transition: all .5s;
  margin: 0 auto;

  &One {
    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;
  }

  &Two {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}


.image {
  transform: scale(.975);

  &:hover {
    transform: translateY(-.5rem);
  }
  &Box {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 1s;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-top: 2rem;
  line-height: 1.4;

  & > span:nth-child(1) {
    font-size: 2rem;
    font-weight: 400;

    color: var(--primary-base);
  }

  & > span:nth-child(2),
  & > span:nth-child(3),
  & > span:nth-child(4) {
    width: 80%;

    margin: 0 auto;
    font-size: 4.25rem;
  }

  &Box {
    width: 100%;
  }
}

.text {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 3rem;

  &Box {
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;

    & > a {
      padding: .75rem 2rem;

      color: var(--white);
      border-radius: .5rem;
      background-color: var(--tertiary-dark);
    }
  }
}

.emptySpace {
  display: none;
}

//* 368px {
@media only screen and (min-width: 23em) {
  .contentGrid {
    height: 50%;
    &One {
      margin-bottom: 2rem;
    }
  }

  .text {
    &Box {
      margin-bottom: 8rem;
    }
  }
  
}

//* 528px
@media only screen and (min-width: 33em) {
  .text {
    width: 75%;
  }
}

//* 768px
@media only screen and (min-width: 48em) {
  .wrapper {
    margin-top: 5rem;
  }

  .heading {
    margin-top: 3rem;
    & > span:nth-child(2),
    & > span:nth-child(3),
    & > span:nth-child(4) {
      width: 70%;
    }
  }

  .text {
    width: 55%

    &Box {
      //margin-bottom: 8rem;
    }
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .contentGrid {
    &One {
      flex-direction: row;
      margin-bottom: 2rem;
    }
  
    &Two {
      flex-direction: row;
    }
  }

  .heading {
    display: flex;
    flex-direction: column;
    text-align: left;

    line-height: 1.2;
  
    & > span:nth-child(1) {
      font-size: 2.25rem;
    }
  
    & > span:nth-child(2),
    & > span:nth-child(3),
    & > span:nth-child(4) {
      width: 70%;
  
      margin: 0;
      font-size: 5.5rem;
    }
  }

  .text {
    width: 70%;
    margin-left: 5rem;
    margin-bottom: 2.65rem;

    font-size: 2rem;

    &Box {
      flex: 0 1 90%;
      margin-top: -5rem;
      text-align: left;

      & > a {
        margin-left: 5rem;
      }
    }
  }
  
  .emptySpace {
    display: block;
    flex: 0 1 40%;
    height: 100%;
  }
}


//* 1120px
@media only screen and (min-width: 70em) {
  .contentGrid {
    &Two {
      flex-direction: row;
      margin-top: 0;
    }
  }
  
  .heading {
    & > span:nth-child(2),
    & > span:nth-child(3),
    & > span:nth-child(4) {
      width: 65%;
    }
  }

  .text {
    margin-left: 3rem;

    &Box {
      & > a {
        margin-left: 3rem;
      }
    }
  }
}

//* 1392px
@media only screen and (min-width: 87em) {
  .heading {
    & > span:nth-child(2),
    & > span:nth-child(3),
    & > span:nth-child(4) {
      width: 55%;
    }
  }

  .text {
    width: 70%;
    margin-left: 0;

    &Box {
      & > a {
        margin-left: 0;
      }
    }
  }
}