
.page {
  position: relative;
  margin: 0 auto;

  transition: all .5s;
}

.nav {
  height: 70px;
  width: 100%;
}

.main {
  height: 100%;
  min-height: 95vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mainContainer {
  height: 100%;
  width: 100%;

  margin-top: 10rem;
  margin-bottom: 10rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 80%;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

//* 768px
@media only screen and (min-width: 48em) {
  .mainContainer {
    margin-top: 10rem;
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .nav {
    height: 100%;
    max-width: 216rem;
  }

  .main {
    height: 100%;
  }

  .mainContainer {
    margin-top: 20rem;
    margin-bottom: 10rem;
  }
}