
.wrapper {
  height: 725px;
  width: 100%;
  max-width: 100%;

  background-size: contain;
  background-position:center;
  background-repeat: no-repeat;

}

.container {
  height: 100%;
  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  position: relative;
}

@media only screen and (min-width: 23em) { // 368px
  .wrapper {
    height: 85vh;
  }
}

@media only screen and (min-width: 48em) { // 768px
  .wrapper {
    height: 90vh;
  }
}