
//* 280px
.wrapper {
  background-position: 50% 85%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 725px;
  width: 100%;
  max-width: 100%;

  background-position: 50% 85%;
  background-size: 92.5%;
  background-repeat: no-repeat;
}

.headingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & > button {
    border: none;
    outline: none;
    position: relative;

    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: .75rem 1.25rem;
    border-radius: .5rem;

    color: var(--white);
    background-color: var(--primary-dark);

    font-weight: 400;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 1.5rem;

  & > *:nth-child(1) {
    margin-top: 5rem;
    font-size: 1.8rem;
    font-weight: 400;
  }

  & > *:nth-child(2) {
    width: 92.5%;
    font-size: 3.75rem;
    line-height: 1.4;
  }
}

.body {
  width: 90%;
  margin-bottom: 1rem;
  padding: 0 2rem;

  font-size: 1.6rem;
}


//* 368px
@media only screen and (min-width: 23em) {
  .wrapper {
    height: 700px;
    
    background-position: 50% 80%;
  }
}

//* 528px
@media only screen and (min-width: 33em) {
  .wrapper {
    height: 650px;
    background-position: 50% 100%;
  }
  
  .headingBox {
    width: 90%;
  }

  .heading {
    & > *:nth-child(1) {
      margin-top: 2rem;
      font-size: 2rem;
    }
    & > *:nth-child(2) {
      font-size: 4.5rem;
    }
  }

  .body {
    width: 80%;
  }
}

//* 768px
@media only screen and (min-width: 48em) {
  .wrapper {
    height: 90vh;
    background-position: 50% 85%;
  }

  .headingBox {
    & > button {
      font-size: 2rem;
      font-weight: 600;

      padding: 1rem 2rem;
    }
  }

  .heading {
    & > *:nth-child(1) {
      margin-top: 1rem;
      font-size: 2.5rem;
    }
    & > *:nth-child(2) {
      font-size: 6.5rem;
    }
  }

  .body {
    font-size: 2.25rem;
  }
}

//* 800px
@media only screen and (min-width: 50em) {
  .wrapper {
    height: 800px;
    width: 100%;
    
    justify-content: flex-start;

    background-position: 125% 50%;
    background-size: 65%;
  }

  .headingBox {
    flex: 0 1 65%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 8rem;
  
    & > button {
      margin-left: 1.5rem;

      font-size: 1.8rem;
      font-weight: 400;
    }
  }

  .heading {
    width: 80%;
    display: flex;
    align-items: flex-start;
    text-align: left;

    & > *:nth-child(1) {
      font-size: 2.5rem;
    }
    & > *:nth-child(2) {
      font-size: 6rem;
    }
  }

  .body {
    width: 60%;
    text-align: left;
    padding: 1rem 1.5rem;

    font-size: 1.8rem;
  }

  .spacerBox {
    flex: 1 1;
  }
}


//* 1024px
@media only screen and (min-width: 64em) {
  .wrapper {
    height: 750px;
    width: 100%;

    background-position: 145% 50%;
  }
}

//* 1280px
@media only screen and (min-width: 80em) {
  .wrapper {
    background-position: 105% 50%;
  }

  .headingBox {
    flex: 0 1 60%;
  }

  .heading {
    width: 75%;
  }
}

//* 1392px
@media only screen and (min-width: 87em) {
  .headingBox {
    flex: 0 1 55%;
    margin-left: 11rem;
  }

  .heading {
    width: 70%;
  }
}

//* 1536px
@media only screen and (min-width: 96em) {
  .headingBox {
    flex: 0 1 45%;
    margin-left: 16rem;
  }
}

//* 1760px
@media only screen and (min-width: 110em) {
  .wrapper {
    background-position: 90% 50%;
    background-size: 35%;
  }

  .headingBox {
    margin-left: 20rem;
  }

  .body {
    width: 57.5%;
  }
}
