
.page {
  position: relative;
  width: 100%;
  margin: 0 auto;

  transition: all .5s;
}

.nav {
  height: 70px;
  width: 100%;
}

.spacer {
  height: 20px;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.25rem;
}

.mainContainer {
  height: 100%;
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 5rem;
}

.box {
  height: 95%;
  width: 110%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding: 2rem;

  border-radius: 1rem;
  border: 3px solid var(--black);
  background-color: var(--grey-100);
}

.heading {
  display: flex;
  flex-direction: column;
  line-height: 1.2;

  & > span:nth-child(1) {
    font-size: 2.75rem;
    margin-bottom: 2rem;
  }
  
  & > span:nth-child(2) {
    margin-bottom: 1rem;
    font-size: 4.5rem;
  }

  &Box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & > p {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
}


//* 368px
@media only screen and (min-width: 23em) {
  .mainContainer {
    height: 625px;
    width: 90%;
  }

  .heading {
    &Box {
      & > p {
        margin-bottom: 1rem;
      }
    }
  }
}


//* 528px
@media only screen and (min-width: 33em) {
  .main {
    height: 100%;
  }

  .box {
    height: 555px;
    width: 450px;
  }

  .header {
    //height: 375px;
    background-size: 40%;

    &Text {
      & > h1 {
        font-size: 6.5rem;
      }
    }
  }
}

//* 768px
@media only screen and (min-width: 48em) {
  .main {
    height: 100%;
    padding: 0 1rem;
    align-items: flex-start;
  }

  .spacer {
    display: none;
  }

  .mainContainer {
    //margin-top: 10rem;
    width: 85%;
  }

  .box {
    width: 90%;
  }

  .heading {
    & > span:nth-child(2) {
      font-size: 5.5rem;
    }

    &Box {
      & > p {
        width: 90%;
      }
    }
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .nav {
    height: 90px;
    max-width: 216rem;
  }

  .mainContainer {
    height: 100%;
    width: 80%;
    margin-bottom: 10rem;
  }
  
  .box {
    height: 755px;
    width: 700px;
  }

  .heading {
    line-height: 1.4;
    
    & > span:nth-child(1) {
      font-size: 3.75rem;
      margin-bottom: 2rem;
    }

    & > span:nth-child(2) {
      margin-bottom: 0rem;
    }

    &Box {
      & > p {
        width: 80%;

        margin-top: 1rem;
        margin-bottom: 0rem;
      }
    } 
  }
}

//* 1280px
@media only screen and (min-width: 80em) {
  .main {
    min-height: 70vh;

    align-items: flex-start;
    margin-top: 10rem;
  }

  .mainContainer {
    height: 100%;
  }

  .heading {
    & > span:nth-child(1) {
      font-size: 6rem;
    }
  }
}