
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 98.5%;
  width: 97.5%;

  display: flex;
  flex-direction: column;
}

.image {
  &Box {
    flex: 1;
    height: 100%;
  }
}

.content {
  &Box {
    flex: 0 1 45%;
    height: 100%;
  }
}


//* 768px
@media only screen and (min-width: 48em) {
  .grid {
    height: 92.5%;
    flex-direction: row;
  }

  .content {
    &Box {
      flex: 0 1 70%;
    }
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .content {
    &Box {
      flex: 0 1 75%;
    }
  }
}