
.wrapper {
  height: 400px;
  width: 90%;

  margin: auto;
  margin-top: 5rem;
  margin-bottom: 0rem;
}

.contentGrid {
  height: 100%;
  width: 100%;
  max-width: 150rem;

  margin: 0 auto;

  &One {
    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;
  }

  &Two {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}


.image {
  transform: scale(.975);
  &Box {
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-top: 2rem;
  line-height: 1.4;

  & > span:nth-child(1) {
    font-size: 2rem;
    font-weight: 400;
  }

  & > span:nth-child(2),
  & > span:nth-child(3),
  & > span:nth-child(4) {
    width: 80%;

    margin: 0 auto;
    font-size: 4.25rem;
  }

  &Box {
    width: 100%;
  }
}

.text {
  width: 95%;
  margin: 0 auto;

  &Box {
    width: 100%;
    text-align: center;
  }
}

.emptySpace {
  display: none;
}

//* 368px {
@media only screen and (min-width: 23em) {
  .contentGrid {
    &One {
      margin-bottom: 2rem;
    }
  }

  .text {
    &Box {
      margin-bottom: 5rem;
    }
  }
  
}

//* 528px
@media only screen and (min-width: 33em) {
  .text {
    width: 75%;
  }
}

//* 768px
@media only screen and (min-width: 48em) {
  .wrapper {
    margin-top: 5rem;
  }

  .heading {
    margin-top: 3rem;
    & > span:nth-child(2),
    & > span:nth-child(3),
    & > span:nth-child(4) {
      width: 70%;
    }
  }

  .text {
    width: 55%
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .contentGrid {
    &One {
      flex-direction: row;
      margin-bottom: 2rem;
    }
  
    &Two {
      flex-direction: row;
    }
  }

  .heading {
    display: flex;
    flex-direction: column;
    text-align: left;

    line-height: 1.2;
  
    & > span:nth-child(1) {
      font-size: 2.25rem;
    }
  
    & > span:nth-child(2),
    & > span:nth-child(3),
    & > span:nth-child(4) {
      width: 70%;
  
      margin: 0;
      font-size: 5.5rem;
    }
  }

  .text {
    width: 70%;
    margin-left: 5rem;

    font-size: 2rem;

    &Box {
      flex: 0 1 90%;
      margin-top: -5rem;
      text-align: left;
    }
  }
  
  .emptySpace {
    display: block;
    flex: 0 1 40%;
    height: 100%;
  }
}


//* 1120px
@media only screen and (min-width: 70em) {
  .contentGrid {
    &Two {
      flex-direction: row;
      margin-top: 0;
    }
  }
  
  .heading {
    & > span:nth-child(2),
    & > span:nth-child(3),
    & > span:nth-child(4) {
      width: 65%;
    }
  }

  .text {
    margin-left: 3rem;
  }
}

//* 1392px
@media only screen and (min-width: 87em) {
  .heading {
    & > span:nth-child(2),
    & > span:nth-child(3),
    & > span:nth-child(4) {
      width: 55%;
    }
  }

  .text {
    width: 70%;
    margin-left: 0;
  }
}