// Grey
.grey-lightest {
    color: var(--grey-lightest);
}
.grey-lighter {
    color: var(--grey-lighter);
}
.grey-light {
    color: var(--grey-light);
}
.grey {
    color: var(--grey);
}
.grey-dark {
    color: var(--grey-dark);
}
.grey-darker {
    color: var(--grey-darker);
}
.grey-darkest {
    color: var(--grey-darkest);
}

.bgcolor-grey-lightest {
    background-color: var(--grey-lightest);
}
.bgcolor-grey-lighter {
    background-color: var(--grey-lighter);
}
.bgcolor-grey-light {
    background-color: var(--grey-light);
}
.bgcolor-grey {
    background-color: var(--grey);
}
.bgcolor-grey-dark {
    background-color: var(--grey-dark);
}
.bgcolor-grey-darker {
    background-color: var(--grey-darker);
}
.bgcolor-grey-darkest {
    background-color: var(--grey-darkest);
}

// Black
.black {
    color: var(--black);
}
.pure-black {
    color: var(--pure-black);
}

// White
.white {
    color: var(--white);
}
.pure-white {
    color: var(--pure-white);
}

// Utils
.filter-white {
    filter: invert(100%) sepia(98%) saturate(7%) hue-rotate(206deg)
        brightness(101%) contrast(104%);
}
