
.wrapper {
  height: 100%;
  width: 100%;

  margin-top: 2rem;
  background-color: var(--grey-100);
}

.box {
  height: 100%;
  width: 100%;
}

.grid {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingBox {
  flex: 0 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  & > h2 {
    font-size: 5rem;
    font-weight: 800;
    color: var(--secondary-dark);
  }
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 1rem 1.5rem;

  & > * {
    padding: 2rem;
  }
}

//* 1024
@media only screen and (min-width: 64em) {
  .wrapper {
    height: 300px;

    border-top: 2px solid var(--primary-base);
    border-bottom: 2px solid var(--primary-base);
  }

  .grid {
    flex-direction: row;
  }

  .textBox {
    flex-direction: row;
    text-align: left;
  }
}
