
.wrapper {
  height: 700px;
  width: 100%;

  border: 2px solid var(--primary-base);
}

.image {
  &Box {
    height: 100%;
    width: 100%;
    
    & > div {
      height: 100%;
      width: 100%;
    }
  }
}

.content {
  &Box {
    background-color: var(--grey-200);
  }
}

.info {
  height: 95%;
  width: 95%;
  margin: 0 auto;
}

.links {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}


.text {
  &Box {
    padding: 2rem;

    & > h2 {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > span:nth-child(2) {
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }
    }
  }
}

//* 768px
@media only screen and (min-width: 48em) {
  .wrapper {
    height: 400px;
    width: 800px;
  }

  .text {
    &Box {
          
      & > h2 {
        align-items: flex-start;
        & > span:nth-child(1) {
          font-size: 2.6rem;
        }

        & > span:nth-child(2) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .wrapper {
    height: 350px;
    width: 1300px;
  }
}


//* 1536px
@media only screen and (min-width: 96em) {
  .wrapper {
    height: 500px;
    width: 1500px;
  }
}