
.wrapper {
  height: 200px;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  background-color: var(--primary-base);
}

.grid {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > * {
    margin: 1.75rem;
  }
}

.links {
  position: relative;
  height: 25%;
  flex: 0 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .5s;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20;
    height: 1px;
    width: 80%;
    background-color: var(--white);
  }

  & > * {
    margin-top: 1rem;

    &:hover {
      cursor: pointer;
      color: var(--secondary-base);
      transform: translateY(-.2rem);
    }
  }

  & > *:not(:last-child) {
    margin-right: 2rem;
  }
}

.logo {
  &Box {
    flex: 0 1 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: -0.5rem 0;
  }
}

.copyright {
  flex: 0 1 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > p {
    text-align: center;
    width: 100%;
  }
}

//* 768px
@media only screen and (min-width: 48em) {
  .wrapper {
    height: 85px;
  }

  .grid {
    width: 80%;
    flex-direction: row;

    margin: 0;

    & > * {
      margin: 0;
    }
  }

  .links {
    &::before {
      width: 60%;
    }

    & > * {
      margin-top: 2rem;
    }
  }

  .copyright {
    & > p {
      width: 90%;
    }
  }
}

//* 1280px
@media only screen and (min-width: 80em) {
  .copyright {
    & > p {
      width: 80%;
    }
  }
}

//* 1536px
@media only screen and (min-width: 96em) {
  .links {
    &::before {
      width: 40%;
    }
  }

  .copyright {
    & > p {
      width: 70%;
    }
  }
}
