
.menuTab {
  flex: 0 1 22.5%;

}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: black;
}

.icon{
  opacity: 0;
}

.text {
  padding: .25rem 0;  
  font-size: 1.85rem;

  &:hover + div .icon {
    opacity: 100;
  }
}

@media only screen and (min-width: 72em) { // 1152px
  .text {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 96em) { // 1536px
  .text {
    font-size: 2.25rem;
  }
}
