
.picture {
  background-image: linear-gradient(
    to right bottom,
    rgba(#d28121, 0.9),
    rgba(#905817, 0.8)), 
    url('/images/svg/undraw_responsive_6c8s.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
};


.heading {
  color: var(--white);
  background-image: linear-gradient(
    to right bottom,
    rgba(#d28121, 0.85),
    rgba(#905817, 0.85)
  );
}

.back {
  background-image: linear-gradient(
    to right bottom,
    rgba(#d28121, 0.85),
    rgba(#905817, 0.85)
  );
}
