
.picture {
  background-image: linear-gradient(
    to right bottom,
    rgba(#503f1d, 0.9),
    rgba(#2b280f, 0.8)), 
    url('/images/svg/undraw_investing_7u74.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
};


.heading {
  color: var(--white);
  background-image: linear-gradient(
    to right bottom,
    rgba(#503f1d, 0.85),
    rgba(#2b280f, 0.85)
  );
}

.back {
  background-image: linear-gradient(
    to right bottom,
    rgba(#503f1d, 0.85),
    rgba(#2b280f, 0.85)
  );
}
