
.flipCard {
  height: 48rem;
  width: 85%;
}

.heading {
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
  line-height: 1.4;

  text-transform: uppercase;
  text-align: right;

  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1.4;

  color: var(--white);

  & > span {
    padding: .3rem .75rem;
    box-decoration-break: clone;
    -webkit-box-direction-breakk: clone;
  }
}

.price {
  &Box{
    margin-bottom: 8rem;
    color: var(--white);
  }

  &Text {
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &Value {
    font-size: 6rem;
    font-weight: 100; 
  }
}


//* 528px
@media only screen and (min-width: 33em) {
  .flipCard {
    width: 50%;
  }
}

//* 1024px
@media only screen and (min-width: 64em) {
  .flipCard {
    height: 52rem;
    width: 27.5%;
  }
}

//* 1280px
@media only screen and (min-width: 80em) {
  .flipCard {
    height: 52rem;
    width: 22.5%;
  }
}

//* 1536px
@media only screen and (min-width: 96em) {
  .flipCard {
    width: 17.5%;
  }
}